<!-- templates/users/login.html -->
{% extends "base_generic.html" %} {% block content %}
{% load static %}
<style>
  .main-background {
      position: relative;
      overflow: hidden; 
  }
  
  .main-background::before {
      content: ''; 
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("{% static 'images/background.jpg' %}"); 
      background-size: cover; 
      opacity: 0.3; 
      z-index: -1;
  }
  </style>  
<div class="container">
  <h2 class="text-center mb-4" style="color: #6f42c1; font-size: 5em; font-weight: bold; ">Login</h2>
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
